<!DOCTYPE html>
<html>

<head>
  <title>Build a Sentence</title>
</head>

<body>
  <h1>Let's Build a Sentence</h1>
  <form method="POST" action="/sentence">
    <p>Select a noun:</p>
    <select name="noun">
      {% for noun in nouns %}
      <option value="{{ noun }}">{{ noun }}</option>
      {% endfor %}
    </select>
    <p>Select a verb:</p>
    <select name="verb">
      {% for verb in verbs %}
      <option value="{{ verb }}">{{ verb }}</option>
      {% endfor %}
    </select>
    <p>Select an adjective:</p>
    <select name="adjective">
      {% for adjective in adjectives %}
      <option value="{{ adjective }}">{{ adjective }}</option>
      {% endfor %}
    </select>
    <p>Select an adverb:</p>
    <select name="adverb">
      {% for adverb in adverbs %}
      <option value="{{ adverb }}">{{ adverb }}</option>
      {% endfor %}
    </select>
    <br/><br />
    <button type="submit">Generate Sentence</button>
  </form>
</body>

</html>